// .col-xs-1{
//     width: 8.333333333%;
//     float: left;
//     padding: 0 15px;
// }
.col-xs-3{
    width: 25%;
    float: left;
}
.col-xs-2{
    width: 16.66666667%;
    float: left;
    padding: 0 15px;
}
.col-xs-5{
    width: 41.666666667%;
    float: left;
    padding: 0 15px;
}
.col-xs-9{
    width: 75%;
    float: left;
    padding: 0 15px;
}
main{
    width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}
.page-header{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.page-header h3{
    font-size: 20px;
}
.page-header span{
    font-size: 14px;
    color: #777;
}
.car-container .car-header {
    line-height: 40px;
    background-color: #efefef;
    border: 1px #e9e9e9 solid;
}
.c-ch-check{
    width: 8.333333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.car-container .control-label {
    margin-left: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: normal;
}
input[type="checkbox"],
input[type="radio"] {
    margin: -1px 0 0;
    line-height: normal;
    cursor: pointer;
}
.c-ch-title{
    width: 41.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.c-ch-price{
    width: 8.33333333%;
    float: left;
}
.c-ch-quantity{
    width: 16.66666667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.c-ch-amount{
    width: 8.33333333%;
    float: left;
}
.c-ch-opt{
    width: 22.66666667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.c-cf-check{
    width: 8.3333333%;
    float: left;
    padding: 0 15px;
}
.car-container .car-footer {
    font-size: 14px;
    padding: 15px 0;
    border: 1px #efefef solid;
    margin-bottom: 15px;
}
.control-label{
    cursor: pointer;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}
.c-cf-opt{
    width: 21.666666667%;
    float: left;
    padding: 0 15px;
    color: #333;
}
.c-cf-out{
    width: 16.66666667%;
    float: left;
    padding: 0 15px;
    color: #333;
}
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}
.btn-link {
    font-weight: 400;
    color: #767676;
}
.btn {
    outline: none;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
}
.c-cf-amount{
    width: 50.666666667%;
    float: left;
    padding: 0 15px;
}
.list-unstyled{
    text-align: right;
    margin-bottom: 10px;
}
.text-right{
    text-align: right;
}
.promotion-list {
    line-height: 25px;
    font-size: 12px;
}
.list-unstyled {
    margin-bottom: 10px;
}
.label-danger{
    display: inline;
    font-family: sans-serif;
    background: transparent;
    border: 1px #f30 solid;
    color: #f60;
    font-size: 11px;
    padding: 1px 2px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.btn-danger,
.btn-shopping{
    background: #ed1c24;
    border: #ed1c24;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    margin-top: 10px;
}
.main-container .cart-container .myCart .row {
    overflow: hidden;
    border-top: 0;
}

.cart-container .cart-body .cart-item.enabled {
    background: #fffeec;
}

.cart-container .cart-body .cart-item {
    width: 1140px;
    height: 156px;
    padding: 15px 0;
    border-top: 1px #efefef solid;
    border-bottom: 1px #e9e9e9 solid;
}

.cart-container .row {
    margin: 0;
}
.cart-container .control-label {
    cursor: pointer;
    width: 100%;
    font-weight: normal;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.c-ci-check{
    font-size: inherit;
    font-size: 14px;
    padding: 0 15px;
}
.cart-container input[type="checkbox"] {
    cursor: pointer;
}
input[type="checkbox"]{
    margin: -4px 5px 0;
}
.cart-container .c-ci-title{
    padding: 0;
}
.product-quantity {
    width: 85%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-sm>.input-group-btn>.btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
.from-control{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
}
.car-container .car-body a {
    color: #555;
}
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
// .input-grounp{
// }
.car-body{
    background-color: #fffeec;
}
.cart-item{
    padding:20px 0;

}
.spinner-buttons{
    display: table-cell;
}
.spinner-buttons button{
    display: inline-block;
    // width: 10px!important;
    // height: 10px!important;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
    border: solid 1px #ddd;
}
.spinner-input{
    display: inline-block;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    border: solid 1px #ddd;
    background-color: #fff;
}
.c-ci-price{
    text-align: right;
    font-weight: 700;
}
.c-ci-amount strong{
    padding-left: 35px;
    font-weight: 700;
}
.list-incar{
    text-align: left;
    padding-left: 65px;
}
.brief{
    font-size: 14px;
    margin-top: 10px;
}
.de-btn,.in-btn{
    background-color: #fff;
    outline: none;
}
.de-btn:hover{
    background-color: #ccc;
    transition: all .2s;
}
.in-btn:hover {
    background-color: #ccc;
}